* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F1F4F7;
    font-size: 16px;
    transition: 0.3s;
    color: #333;
    --red: #cc1105;
    --red-light: #f5e7de;
    --red: #ea8;
    --green: #a4cf8d;
    --green-light: #dfeed7;
}

a {
    color: #626f84;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
}

header .logo {
    background: url(https://cdn-us.imgs.moe/2023/05/17/6464ee8220a64.png) no-repeat;
    height: 35px;
    width: 80px;
    background-size: contain;
    margin: 10px;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

main {
    flex: 1;
    overflow: hidden;
    display: flex;
    margin: 20px 0;
}

.logo h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}


section.cat {
    margin: 20px 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid var(--green);
}

section .title {
    padding: 8px 10px;
    background: var(--green-light);
    border-bottom: dashed 1px var(--green);
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}

section .list {
    padding: 10px;
}

section .list h1 {
    font-size: 16px;
}

section .list span {
    font-size: 12px;
    color: #555;
}


section .list .item {
    padding: 5px;
    border-bottom: 1px dashed #bbb;
}

section .list .item div {
    display: flex;
    justify-content: space-between;
}

main .body {
    flex: 1;
    overflow-y: scroll;
}

main .body .title {
    text-align: center;
    border-bottom: 1px solid var(--red-bg);
    padding: 10px;
}

main .body h1 {
    color: var(--oridge);
    padding: 20px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;

}

li {
    list-style: none;

}

footer li {
    display: inline-block;
}

.editor {
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.editor li {
    display: flex;
    /* align-items: center; */
    margin: 2px;
    padding: 2px;
}

.editor li h2 {
    width: 100px;
    background: #ea8;
    color: var(--red);
    font-size: 14px;
    padding: 2px 10px;
    height: 100%;
    margin-right: 5px;
}

.editor li:last-child {
    height: 100px;
}

.editor li input {
    height: 18px;
    width: 300px;
}

.editor li button {
    margin: 0 10px;
    padding: 1px 10px;
}

.editor li textarea {
    width: 400px;
    height: 100px;
}

.bangui {
    display: flex;
    justify-content: center;
}

ol li {
    list-style: upper-roman;
    color: var(--oridge);
    padding: 2px;
}

.iconfont {
    color: var(--red);
    font-size: 12px;
    font-weight: bold;
}

.pagination {
    display: inline-block;
    margin: 10px;
}

.pagination a {
    color: var(--green);
}

.pagination li {
    /* border-radius: 4px; */
    display: inline-block;
    padding: 5px;
    line-height: 20px;
    margin: 5px;
}

.pagination .active {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #fff;
    background: var(--red);
}

.pagination .active a {
    color: #fff;
}

.ucenter {
    width: 1000px;
    margin: 20px auto;
    display: block !important;
}

.ucenter .info {
    text-align: center;
    width: 100%;
}

.ucenter nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ucenter nav li {
    padding: 5px;
}

.ucenter nav li a {
    padding: 5px 10px;
    color: #ea8;
    border-bottom: 2px solid #ea8;
}

article {
    padding: 5px;
    line-height: 2;
    font-size: 16px;
}

article img {
    max-width: 600px;
    max-height: 900px;
}

.ucenter .info img {
    border-radius: 50%;

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    padding: 0px 2px;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0px;
    width: 0px
}

::-webkit-scrollbar-corner {
    background-color: transparent;
    height: 0px;
    width: 0px;
}